.todo-item-container {
  background-color: rgb(221, 220, 220);
  color: rgb(42, 42, 42);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  height: 10%;
  width: 90%;
  font-size: 2rem;
}

.checkbox {
  width: 10%;
  background-color: red;
}
.delete-btn {
  background-color: rgb(88, 88, 223);
  color: white;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 1rem;
  padding: 1rem;
  transition: all ease-in-out 250ms;
  cursor: pointer;
  border: none;
}
.delete-btn:hover {
  transform: scale(1.1);
  background-color: red;
}
